<h3>Currencies stochastics information</h3>
{{#each model.currencies as |currency|}}
  <p>{{currency.name}}: 1h stochastics: {{currency.stoch1h}} ; 4h stochastics: {{currency.stoch4h}}</p>
{{/each}}

